<launch>
    <node pkg="tf" type="static_transform_publisher" name="map_to_camera_init" args="0 0 0 0 0 0 map camera_init 100" />

    <node pkg="tf" type="static_transform_publisher" name="body_to_vehicle" args="0 0 0 0 0 0 body vehicle 100" />

    <node pkg="tf" type="static_transform_publisher" name="vehicle_to_base" args="0 0 0 0 0 0 vehicle base_footprint 100" />

    <node pkg="topic_tools" type="relay" name="cloud_relay" args="/cloud_registered /registered_scan" />

    <node pkg="topic_tools" type="relay" name="odom_relay" args="/Odometry /state_estimation" />

</launch>
